<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHELVES</title>
</head>
<body>
    <a href="/">SHELVES</a>
    <a href="/books">BOOKS</a>
    <h1>SHELVES</h1>
    <a href="/shelves_post">Add shelves</a>
    <table>
        <tr>
            <th>shelf_id</th>
            <th>category</th>
            <th>total_books</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        <% for(let i = 0; i < shelves.length; i++) { %>
            <tr>
                <td>
                    <%= shelves[i].shelf_id %>
                </td>
                <td>
                    <%= shelves[i].category %>
                </td>
                <td>
                    <%= shelves[i].total_books %>
                </td>
                <td>
                    <a href="/put/<%= shelves[i].shelf_id %>">edit</a>
                </td>
                <td>
                    <a href="/delete/<%= shelves[i].shelf_id %>">delete</a>
                </td>
            </tr>
        <% } %>
    </table>
</body>
</html>